{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block content %}
  <form method="POST">{% csrf_token %}
  <ul>
    {{ form.as_ul }}
    <li><input type="submit" value="Save" /></li>
  </ul>
  </form>  
{% endblock %}
