{% extends "base.html" %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
<h3>Active Since {{ user.date_joined|date }}</h3>

  <h4 class="header">Vehicles</h4>
  <div class="btn-group btn-group-vertical btn-group-vehicle">
    {% for vehicle in user.vehicle_set.all %}
      <a class="btn btn-block btn-vehicle" href="{{ vehicle.get_absolute_url }}">
        <h5>{{ vehicle.name }}</h5>
        <div class="mileage">{{ vehicle.mileage }}</div>
      </a>
    {% endfor %}
  </div>
  {% if user == request.user %}
  <div class="btn-toolbar">
    <a href="{% url 'vehicle_new' %}" class="btn">Add Vehicle</a>
  </div>
  {% endif %}

{% endblock %}
