{% extends "base_base.html" %}

{% block css %}

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cr.css">
  
{% endblock %}
{% block js %}
  <script type="text/javascript">var IS_MOBILE = {{ is_mobile|yesno:"true,false"}};</script>
  <script type="text/javascript" 
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" 
    src="{{ STATIC_URL }}js/cr.js"></script>
{% endblock %}

{% block base_content %}
  <h2>{% block title %}{% endblock %}</h2>
  
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  
  {% block content %}{% endblock %}
{% endblock %}