<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
    <meta name="viewport" content="user-scalable=no, width=device-width" />
  </head>
  <body>

    {% block header %}
      {% include "header.html" %}
    {% endblock %}

    <div class="container">

      <div id="content">

        {% block base_content %}
        {% endblock %}
      
      </div>
      
      {% block footer %}
      {% include "footer.html" %}
      {% endblock %}
      
    </div>
  </body>
</html>
