<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{% url 'home' %}">The Carbon Rater</a>
      
      <form class="navbar-form pull-right">
        {% if user.is_authenticated %}
          <a class="btn btn-small" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="btn btn-small" href="{% url 'login' %}"><i class="icon-user"></i> Login</a>
        {% endif %}
      </form>
    </div>
  </div>
</div>
