{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}" />
{{ form|crispy }}
<div class="btn-toolbar"><input type="submit" class="btn" value="Login" /></div>
</form>
{% endblock %}
