{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ vehicle.name }}{% endblock %}

{% block content %}
  <form method="POST" class="form-horizontal" novalidate="novalidate">
    {% csrf_token %}
    <div class="panel">
      <div class="header">{{ form.instance|yesno:'Edit,Add' }} Mileage</div>
      <div class="body">
        {% csrf_token %}
        {{ form|crispy }}
          <div>
            <input type="submit" class="btn btn-primary" value="Save" />
            {% if form.instance %}
            <input type="submit" class="btn confirm" name="delete" value="Delete" />
            {% endif %}
            <input type="submit" class="btn" name="cancel" value="Cancel" />
          </div>
      </div>
    </div>
  </form>
{% endblock %}
