{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  $("#id_vehicle_type").change(function() {
    if ($("#id_name").val() == "") {
      var name = $("option:selected", this).text();
      $("#id_name").val(name);
    }
  });
});
</script>
{% endblock js %}

{% block title %}{{ vehicle.name|default:"New Vehicle" }}{% endblock %}

{% block content %}
  <form method="POST" class="form-horizontal">{% csrf_token %}
  {{ form|crispy }}
    <div><input type="submit" class="btn btn-primary" value="Save" /></div>
  </form>  
{% endblock %}
