{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ vehicle.name }}{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" 
  href="{{ STATIC_URL }}/jqplot/jquery.jqplot.css" />
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript" 
        src="{{ STATIC_URL }}/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" 
        src="{{ STATIC_URL }}/jqplot/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/jqplot/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/vehicle_chart.js"></script>
<script type="text/javascript">
var data = [
{% for mileagerecord in vehicle.mileagerecord_set.all %}
	[ {{ mileagerecord.date|date:"U" }}, 
	  {{ mileagerecord.mileage|stringformat:".2f" }},
      {{ mileagerecord.gallons|stringformat:".2f"|default:"null" }},
      {{ mileagerecord.mpg|stringformat:".2f"|default:"null" }}
    ]{% if not forloop.last %},{% endif %}
{% endfor %}
];
</script>
{% endblock js %}

{% block content %}
<div class="row">
  <dl class="span6">
    <dt>Stated MPG</dt><dd>{{ vehicle.stated_mpg }}</dd>
    <dt>Actual MPG</dt><dd>{{ vehicle.actual_mpg }}</dd>
    <dt>Current Mileage</dt><dd>{{ vehicle.mileage }}</dd>
  </dl>
  
  {% if mileage_form %}
  <div class="span6">
    <form method="post" class="form-horizontal" action="{% url 'mileage_new' vehicle.id %}" novalidate="novalidate">
    <div class="panel">
      <div class="header">Add Mileage</div>
      <div class="body">
        {% csrf_token %}
        {{ mileage_form|crispy }}
        <div><input type="submit" class="btn" value="Add" /></div>
      </div>
    </div>
    </form>
  </div>
  {% endif %}
</div>

  <div class="panel">
    <div class="header">History</div>
    <div class="body">
        <div id="chart"> </div>
    </div>
  </div>
  
  {% if mileage_form or not is_mobile %}
  <table id="vehicle_history" class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th>Date</th>
      <th>Mileage</th>
      <th>Gallons</th>
      <th>MPG</th>
      {% if mileage_form %}
      <th>Edit</th>
      {% endif %}
     </tr>
    </thead>
    <tbody>
    {% for mileagerecord in vehicle.mileagerecord_set.reverse %}
    <tr>
      <td>{{ mileagerecord.date }}</td>
      <td>{{ mileagerecord.mileage|floatformat }}</td>
      <td>{{ mileagerecord.gallons|floatformat|default:"-" }}</td>
      <td>{{ mileagerecord.mpg|floatformat|default:"-" }}</td>
      {% if mileage_form %}
      <td>
        <a class="btn btn-mini" href="{% url 'mileage_edit' vehicle.id mileagerecord.id %}">Edit</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}
