a{color:inherit;text-decoration:none;}
body{background-color:#fff;color:#336633;font-family:"Trebuchet MS",Helvetica,sans-serif;margin:0;padding:1em;}
.account{text-align:right;margin:.2em;}
.account li{display:inline-block;}
a.button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"],button{border:1px solid #66aa66;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;background:#bbeebb;background:-webkit-gradient(linear, left bottom, left top, from(#bbeebb), to(#ccffcc));font-size:80%;padding:.2em .5em;color:#003300;line-height:1.5em;}a.button:hover,input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="file"]:hover,button:hover{background:#bbddbb;background:-webkit-gradient(linear, left bottom, left top, from(#bbddbb), to(#99bb99));}
a.button.alt,input[type="button"].alt,input[type="submit"].alt,input[type="reset"].alt,input[type="file"].alt,button.alt{border-color:#909990;background:#c0ccc0;background:-webkit-gradient(linear, left bottom, left top, from(#c0ccc0), to(#f0fff0));}a.button.alt:hover,input[type="button"].alt:hover,input[type="submit"].alt:hover,input[type="reset"].alt:hover,input[type="file"].alt:hover,button.alt:hover{background:#c0ccc0;background:-webkit-gradient(linear, left bottom, left top, from(#c0ccc0), to(#909990));}
h1{margin:0;padding:0;border:1px solid #99cc99;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;background:#bbeebb;background:-webkit-gradient(linear, left bottom, left top, from(#bbeebb), to(#ccffcc));box-shadow:0 0 10px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);display:block;font-size:1.4em;font-weight:bold;}
h1 a{display:block;padding:.5em;}
#content{padding:1em 0;}
h2{font-size:1.2em;margin:0;}
h3{font-size:.8em;font-style:italic;margin:0;}
.header{font-weight:bold;}
ul{list-style:none;margin:0;padding:0;}
.panel{background:#f0fff0;border:1px solid #99cc99;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 10px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);margin:1em 0;}
.panel>.header{background:#ccffcc;border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;-webkit-border-radius:7px 7px 0 0;}
.panel>li,.panel>.header{padding:.2em .5em;border:1px solid #99cc99;border-width:0 0 1px 0;}
form .panel>li{border-width:0;}
.panel>li>a{margin:-0.2em -0.5em;padding:.2em .5em;}
.panel>li:last-child,.panel>li:last-child>a{border-width:0;border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;-webkit-border-radius:0 0 7px 7px;}
.errorlist{color:#C00;font-weight:bold;}
label{font-weight:bold;}
input,textarea,select{font-size:1em;}
dl{background:#f0fff0;border:1px solid #99cc99;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 10px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);background:#ccffcc;margin:1em 0;}
dt,dd{margin:0;padding:.2em .5em;border:1px solid #99cc99;border-width:1px 0 0 0;}
dt{float:left;clear:left;width:9em;font-weight:bold;text-align:right;}
dt:first-child{border-top:0;}
dt:first-child+dd{border-radius:0 8px 0 0;-moz-border-radius:0 8px 0 0;-webkit-border-radius:0 8px 0 0;border-top:0;}
dd{border:1px solid #99cc99;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;background:#f0fff0;margin-left:10em;border-width:1px 0 0 1px;}
dd:last-child{border-radius:0 0 8px 0;-moz-border-radius:0 0 8px 0;-webkit-border-radius:0 0 8px 0;}
li>a,dd>a{display:block;text-decoration:none;color:inherit;}
li>a:hover,dd>a:hover{background:#DFD;}
.vehicle .name{font-weight:bold;}
table#vehicle_history{border-spacing:0;width:100%;background:#f0fff0;border:1px solid #99cc99;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 10px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);border:none;}table#vehicle_history th,table#vehicle_history td{border:1px solid #99cc99;border-width:0 1px 1px 0;padding:.2em .5em;}table#vehicle_history th:first-child,table#vehicle_history td:first-child{border-left-width:1px;}
table#vehicle_history th{background:#ccffcc;font-weight:bold;}
table#vehicle_history td{background:#f0fff0;}
table#vehicle_history tr:first-child th,table#vehicle_history tr:first-child td{border-top-width:1px;}table#vehicle_history tr:first-child th:first-child,table#vehicle_history tr:first-child td:first-child{border-radius:8px 0 0 0;-moz-border-radius:8px 0 0 0;-webkit-border-radius:8px 0 0 0;}
table#vehicle_history tr:first-child th:last-child,table#vehicle_history tr:first-child td:last-child{border-radius:0 8px 0 0;-moz-border-radius:0 8px 0 0;-webkit-border-radius:0 8px 0 0;}
table#vehicle_history tr:last-child th:first-child,table#vehicle_history tr:last-child td:first-child{border-radius:0 0 0 8px;-moz-border-radius:0 0 0 8px;-webkit-border-radius:0 0 0 8px;}
table#vehicle_history tr:last-child th:last-child,table#vehicle_history tr:last-child td:last-child{border-radius:0 0 8px 0;-moz-border-radius:0 0 8px 0;-webkit-border-radius:0 0 8px 0;}
#chart{height:300px;width:800px;margin:1em auto;}
#chart .jqplot-highlighter-tooltip{background:#f0f0f0;}
