@border-width: 1px;

._border(@color, @width) {
  border: @width solid @color;
}
._border(@color) {
  ._border(@color, @border-width);
}
._round_border(@color, @radius) {
  ._border(@color);
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
._round_border(@nw, @ne, @se, @sw) {
  border-radius: @nw @ne @se @sw;
  -moz-border-radius: @nw @ne @se @sw;
  -webkit-border-radius: @nw @ne @se @sw;
}
._round_top(@radius) {
  ._round_border(@radius, @radius, 0, 0);
}
._round_bottom(@radius) {
  ._round_border(0, 0, @radius, @radius);
}
._background(@bg){
  background: @bg;
}
._background(@bottom, @top) {
  background: @bottom;
  background: -webkit-gradient(linear, left bottom, left top, from(@bottom), to(@top));
}
._shadow() {
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

@color: #363;

@panel-border: #9c9;
@panel-border-radius: 8px;
@panel-bg: #F0FFF0;
@panel-header-bg: #CFC;
._panel() {
  ._background(@panel-bg);
  ._round_border(@panel-border, @panel-border-radius);
  ._shadow();
}

@button-border: #6A6;
@button-border-radius: 6px;
@button-bg-bottom: #BEB;
@button-bg-top: #CFC;
@button-color: #030;
@button-hover-bg-bottom: #BDB;
@button-hover-bg-top: #9B9;

@button-alt-border: #909990;
@button-alt-bg-bottom: #C0CCC0;
@button-alt-bg-top: #F0FFF0;
@button-alt-hover-bg-bottom: #C0CCC0;
@button-alt-hover-bg-top: #909990;

@header-border: #9c9;
@header-border-radius: 8px;
@header-bg-bottom: #BEB;
@header-bg-top: #CFC;
@header-color: @color;

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #fff;
  color: @color;
  font-family: "Trebuchet MS", Helvetica, sans-serif; 
  margin: 0;
  padding: 1em;
}

.account {
  text-align: right;
  margin: .2em;
}

.account li {
  display: inline-block;
}

a.button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button {
  ._round_border(@button-border, @button-border-radius);
  ._background(@button-bg-bottom, @button-bg-top);
  font-size: 80%;
  padding: .2em .5em;
  color: @button-color;
  line-height: 1.5em;
  &:hover {
    ._background(@button-hover-bg-bottom, @button-hover-bg-top);
  }
}

a.button.alt, input[type="button"].alt, input[type="submit"].alt, input[type="reset"].alt, input[type="file"].alt, button.alt {
  border-color: @button-alt-border;
  ._background(@button-alt-bg-bottom, @button-alt-bg-top);
  &:hover {
    ._background(@button-alt-hover-bg-bottom, @button-alt-hover-bg-top);
  }
}

h1 {
  margin: 0;
  padding: 0;
  ._round_border(@header-border, @header-border-radius);
  ._background(@header-bg-bottom, @header-bg-top);
  ._shadow();
  display: block;
  font-size: 1.4em;
  font-weight: bold;
}

h1 a {
  display: block;
  padding: .5em;
}

#content {
  padding: 1em 0;
}

h2 {
  font-size: 1.2em;
  margin: 0;
}

h3 {
  font-size: .8em;
  font-style: italic;
  margin: 0;
}

.header {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.panel {
  ._panel();
  margin: 1em 0;
}

.panel > .header {
  ._background(@panel-header-bg);
  ._round_top(@panel-border-radius - 1);
}

.panel > li, .panel > .header {
  padding: .2em .5em;
  ._border(@panel-border);
  border-width: 0 0 1px 0;
}

form .panel > li {
  border-width: 0;
}

.panel > li > a {
  margin: -.2em -.5em;
  padding: .2em .5em;
}

.panel > li:last-child, .panel > li:last-child > a {
  border-width: 0;
  ._round_bottom(@panel-border-radius - 1);
}

.errorlist {
  color: #C00;
  font-weight: bold;
}

label {
  font-weight: bold;
}

input, textarea, select {
  font-size: 1em;
}

dl {
  ._panel();
  ._background(@panel-header-bg);
  margin: 1em 0;
}

dt, dd {
  margin: 0;
  padding: .2em .5em;
  ._border(@panel-border);
  border-width: 1px 0 0 0;
}
dt {
  float: left;
  clear: left;
  width: 9em;
  font-weight: bold;
  text-align: right;
}
dt:first-child {
  border-top: 0;
}
dt:first-child + dd {
  ._round_border(0, @panel-border-radius, 0, 0);
  border-top: 0;
}

dd {
  ._round_border(@panel-border, 0);
  ._background(@panel-bg);
  margin-left: 10em;
  border-width: 1px 0 0 1px;
}
dd:last-child {
  ._round_border(0, 0, @panel-border-radius, 0);
}


li > a, dd > a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li > a:hover, dd > a:hover {
  background: #DFD;
}

.vehicle .name {
  font-weight: bold;
}

table#vehicle_history {
  border-spacing: 0;
  width: 100%;
  ._panel();
  border: none;

  th, td {
    ._border(@panel-border);
    border-width: 0 1px 1px 0;
    padding: .2em .5em;
    &:first-child {
      border-left-width: 1px;
    }
}
  th {
    ._background(@panel-header-bg);
    font-weight: bold;
  }
  td {
    ._background(@panel-bg);
  }
  tr {
    &:first-child {
      th, td {
        border-top-width: 1px;
        &:first-child {
          ._round_border(@panel-border-radius, 0, 0, 0);
        }
        &:last-child {
          ._round_border(0, @panel-border-radius, 0, 0);
        }
      }
    }
    &:last-child {
      th, td {
        &:first-child {
          ._round_border(0, 0, 0, @panel-border-radius);
        }
        &:last-child {
          ._round_border(0, 0, @panel-border-radius, 0);
        }
      }
    }
  }
}

#chart {
   height:300px; 
   width:800px;
   margin: 1em auto;
}

#chart .jqplot-highlighter-tooltip {
    background: #f0f0f0;
}

