page {
  height: 100%;
  width: 100%;
  opacity: 1;
  padding: 0;
  -webkit-transition-property: opacity, left;
  -webkit-transition-duration: 1s, 1.5s;
  transition-timing-function: ease-in;
}

body {
  padding: 0;
  font-size: 18px;
}

h1 {
  padding-left: 1em;
  border-width: 0 0 1px 0;
  border-radius: 0; 
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  text-shadow: 0px 1px 0px #fff;
}

h1 a {
  padding: 10px 0;
}

.account {
  font-size: 1.4em;
  position: absolute;
  right: 0;
}

.account li a {
  font-size: 12px;
  padding: 8px;
  color: #CFC;
  border: 1px inset #CFC;
  background: -webkit-gradient(linear, left bottom, left top, from(#393), to(#9C9));
  text-shadow: 0px -1px 0 #060;
}

.account li a:active, .account li a:hover {
  background: #090;
  text-shadow: none;
}

input, textarea, select {
  font-size: 1.2em;
}

h2, h3 {
  text-align: center;
}

.panel, .panel > .header, .panel > li, .panel > li > a, dl, dd, th, td {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.panel, dl {
  border-left-width: 0;
  border-right-width: 0;
}

#chart {
   height:200px;
   width: auto; 
   margin: 1em 2em;
   font-size: .7em;
}

table#vehicle_history  {
  font-size: 80%;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#vehicle_history th:first-child, #vehicle_history td:first-child {
  border-left-width: 0;
}

#vehicle_history th:last-child, #vehicle_history td:last-child {
  border-right-width: 0;
}
