/*!
 * Bootstrap v2.2.3
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "plugins/bootstrap/less/mixins.less";

// CSS Reset
@import "plugins/bootstrap/less/reset.less";

// Grid system and page structure
@import "plugins/bootstrap/less/scaffolding.less";
@import "plugins/bootstrap/less/grid.less";
@import "plugins/bootstrap/less/layouts.less";

// Base CSS
@import "plugins/bootstrap/less/type.less";
@import "plugins/bootstrap/less/code.less";
@import "plugins/bootstrap/less/forms.less";
@import "plugins/bootstrap/less/tables.less";

// Components: common
@import "plugins/bootstrap/less/sprites.less";
@import "plugins/bootstrap/less/dropdowns.less";
@import "plugins/bootstrap/less/wells.less";
@import "plugins/bootstrap/less/component-animations.less";
@import "plugins/bootstrap/less/close.less";

// Components: Buttons & Alerts
@import "plugins/bootstrap/less/buttons.less";
@import "plugins/bootstrap/less/button-groups.less";
@import "plugins/bootstrap/less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "plugins/bootstrap/less/navs.less";
@import "plugins/bootstrap/less/navbar.less";
@import "plugins/bootstrap/less/breadcrumbs.less";
@import "plugins/bootstrap/less/pagination.less";
@import "plugins/bootstrap/less/pager.less";

// Components: Popovers
@import "plugins/bootstrap/less/modals.less";
@import "plugins/bootstrap/less/tooltip.less";
@import "plugins/bootstrap/less/popovers.less";

// Components: Misc
@import "plugins/bootstrap/less/thumbnails.less";
@import "plugins/bootstrap/less/media.less";
@import "plugins/bootstrap/less/labels-badges.less";
@import "plugins/bootstrap/less/progress-bars.less";
@import "plugins/bootstrap/less/accordion.less";
@import "plugins/bootstrap/less/carousel.less";
@import "plugins/bootstrap/less/hero-unit.less";

// RESPONSIVE
@import "plugins/bootstrap/less/responsive-utilities.less";
// Large desktops
@import "plugins/bootstrap/less/responsive-1200px-min.less";
// Tablets to regular desktops
@import "plugins/bootstrap/less/responsive-768px-979px.less";
// Phones to portrait tablets and narrow desktops
@import "plugins/bootstrap/less/responsive-767px-max.less";

@media (max-width: 767px) {
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: auto;
  }
}

// Utility classes
@import "plugins/bootstrap/less/utilities.less"; // Has to be last to override when necessary

// Panel

@panelBackgroundHighlight:  #ffffff;
@panelBackground:           darken(@panelBackgroundHighlight, 5%);
@panelBorder:               darken(@panelBackground, 12%);

@panelHeaderBackground:     darken(@panelBackground, 8%);
@panelHeaderBorder:         @panelBorder;

@panelPadding:              12px;

.panel {
  #gradient > .vertical(@panelBackgroundHighlight, @panelBackground);
  border: 1px solid @panelBorder;
  .border-radius(@baseBorderRadius);
  .box-shadow(0 1px 4px rgba(0,0,0,.065));
  .clearfix();
  margin: 1em 0;
  & > .header {
    background: @panelHeaderBackground;
    .border-top-radius(@baseBorderRadius - 1);
    padding: 2px @panelPadding;
    margin: 0;
  }
  & > .body {
    padding: @panelPadding;
  }
}

form {
  margin: 0;
}

// Vehicle selection list; a series of green vertical buttons

@vehicleBackground: lighten(@green, 40%);
@vehicleBackgroundHighlight: lighten(@green, 30%);

.btn-group-vehicle {
  display: block;
  margin: @panelPadding 0;
}

.btn-vehicle {
  .buttonBackground(@vehicleBackground, @vehicleBackgroundHighlight, @textColor);
  text-align: left;
  padding: 6px 12px;
  line-height: 1em;
  h5 {
    margin: 0;
  }
}

.form-horizontal .help-block {
  margin-top: 0 !important;
}
